.App {
  min-height: 100vh;
  background: var(--bg-first);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-faq {
  flex: 1 1 auto;
  position: relative;
}

.content-faq {
  position: relative;
  background-color: white;
  padding-left: calc(var(--gutter) * 2);
  padding-right: calc(var(--gutter) * 2);
  padding-top: calc(var(--gutter) * 6);
  padding-bottom: calc(var(--gutter) * 3);
  border-radius: var(--br-lg);
  box-shadow: var(--box-shadow);
  max-width: 768px;
  margin: 0 auto;
}

/* decorative illustrations */
div[class*="decorative--"] {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

/* for desktop decorative */
div[class*="--desktop"] {
  display: none;
}

/* for mobile decorative */
div[class*="--mobile"] {
  top: 0;
  left: 47%;
  width: 80%;
  transform: translate(-50%, -50%);
  grid-template-areas: "decorativeMobile";
}

div[class*="--mobile"] img {
  grid-area: decorativeMobile;
}

div[class*="--mobile"] .decorative-top {
  z-index: 10;
}

div[class*="--mobile"] .decorative-bottom {
  position: relative;
  bottom: -30%;
  left: 5%;
}

.decorative-bottom {
  display: none;
}

.title-faq {
  font-family: var(--f-first);
  text-transform: uppercase;
  text-align: center;
  font-size: var(--fp-xlarge);
  color: var(--c-fourth-main);
  margin: var(--gutter) 0;
}

@media only screen and (min-width: 1024px) {
  /* for mobile decorative */
  div[class*="--mobile"] {
    display: none;
  }

  /* for desktop decorative */
  div[class*="--desktop"] {
    display: grid;
    top: 50%;
    left: 20%;
    width: 100%;
    transform: translate(-50%, -50%);
    grid-template-areas: "decorativeDesktop";
  }

  div[class*="--desktop"] img {
    grid-area: decorativeDesktop;
  }

  div[class*="--desktop"] .decorative-top {
    position: relative;
    top: -5%;
    left: -30%;
    width: 100%;
  }

  div[class*="--desktop"] .decorative-center {
    z-index: 10;
  }

  .decorative-bottom {
    display: block;
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 5%;
  }

  .content-faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "decorative questions";
    gap: var(--gutter);
    padding: calc(var(--gutter) * 4);
    max-width: 900px;
    overflow: hidden;
  }

  .questions {
    grid-area: questions;
    position: relative;
  }

  .title-faq {
    font-size: var(--fp-xxlarge);
    text-align: left;
  }
}
